html  { box-sizing: border-box;}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
}
.background-container {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    background: url(../images/background-1.png);
    background-size: cover;
}

.container {
    width: 1030px;
    margin:  0 auto;
}

.header {
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin-left: auto;
}

.image-original {
    margin-right: 8px;
}

.image-hover {
    display: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}

.header-text-title {
    font-size: 29px;
}

.header-text-item {
    font-size: 18px;
}

.header-link {
    display: flex;
    justify-content: right;
}

.phone-number {
    padding-top: 19px;
}
.header-link:hover {
    color: #f26522;
}

.header-link:hover .image-original {
    display: none;
}

.header-link:hover .image-hover {
    display: block;
    margin-right: 8px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 64px;
    row-gap: 37px;
    margin-top: 27px;
}

.main-card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-card:hover .card-inside-the-text {
    display: flex;
}

.main-card:hover .main-card-text {
    color: #f26522;
}

.main-card-text {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.card-inside-the-text {
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    background-color: #f26522;
    padding: 7px 16px 12px 16px;
}

.text-details-chevron {
    margin-left: 16px;
}

.text-item {
    font-size: 10px;
    line-height: 14px;
}

.text-price {
    margin-top: 6px;
    font-size: 20px;
}

.text-details {
    font-size: 14px;
}

.footer {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    padding-bottom: 15px;
    color: white;
}






