html  { box-sizing: border-box;}
body { margin: 0; font-family: 'Open Sans'}
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.container {
    width: 1900px;
    margin: 0 auto;
}
.section-header-bg {
    min-height: 440px;
    background-image:linear-gradient(90deg, rgba(0,0,0,0.5242471988795518) 0%, rgba(0,0,0,0.3309698879551821) 49%, rgba(0,0,0,0.5158438375350141) 100%), url(../images/header-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    height: 70px;
    width: 1900px;
    top: 0;
    left: 0;
    right: 0;
    background: #313131;
}

.header .header-logo,
.header .header-menu,
.header .header-search {
    display: inline-flex;
}

.header .header-logo {
    margin-left: 27px;
}

.header .header-logo img {
    width: 100%;
}

.header .header-menu {
    height: 100%;
    align-items: center;
    margin-left: 260px;
    margin-right: 399px;
}

.header .menu .menu-list {
    display: flex;
}

.header .menu .menu-item-link:hover {
    color: #14B9D5;
}

.header .menu .menu-item {
    display: inline-flex;
    padding: 35px;
}

.header .menu .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.container .section-title {
    color: white;
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
    margin-top: 130px;
    text-align: center;
    text-transform: uppercase;
}

.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrap .button {
    background-color: #89CA62;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #FFF;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    outline: none;
    padding: 16px 19px;
    margin-right: 20px;
    margin-top: 44px;
}

.button-wrap .button:hover,
.button-wrap .button:focus {
    background-color: #476530;
}

.button-wrap .button1 {
    background-color: #14B9D5;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #FFF;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    outline: none;
    padding: 16px 19px;
    margin-top: 44px;
}

.button-wrap .button1:hover,
.button-wrap .button1:focus {
    background-color: #215a68;
}

.section-post .section-title {
    color: #14B9D5;
    margin-top: 49px;
    text-transform: uppercase;
    text-align: center;
}

.section-post {
    background-color: #F2F2F2;
    display: grid;
}

.section-post .cards-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px;
}
.section-post .cards-col {
    width: 30%;
}

.section-post .card {
    width: 100%;
}

.section-post .card img {
    width: 100%;
    height: auto;
}

.section-post .card .img-desc {
    padding: 22px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    line-height: 1;
}

.section-clients {
    min-height: 588px;
    display: grid;
    background-image: url("../images/parallax-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.section-clients .section-title {
    font-size: 32px;
    margin-bottom: 52px;
    text-transform: uppercase;
    text-align: center;
}

.section-clients .line {
    height: 3px;
    width: 66px;
    border: none;
    margin-top: 87px;
    margin-bottom: 100px;
    background-color: #14B9D5;
}

.section-clients .images-wrap {
    display: grid;
    position: center;
    grid-template-columns: repeat(4, 1fr);
}

.section-top .section-title {
    color: #14B9D5;
    margin-top: 49px;
    margin-bottom: 52px;
    text-transform: uppercase;
    text-align: center;
}

.section-top .images-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 52px;
}
.section-hot {
    width: 1170px;
}
.section-hot .section-title {
    color: #14B9D5;
    margin-top: 49px;
    margin-bottom: 52px;
    text-transform: uppercase;
    text-align: center;
}

.section-hot .wrapper {
    position: relative;
}
.section-hot .news-cards-wrapper {
    margin-top: 50px;
}
.section-hot .news-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
  "card-1 card-1 card-1 card-2"
  "card-3 card-3 card-4 card-4"
  "card-5 card-5 card-6 card-6"
  "card-7 card-8 card-8 card-8";
    gap: 60px
}

.section-hot .card-1 {
    grid-area: card-1;
    display: flex;
    flex-direction: row-reverse;
}

.section-hot .card .title p {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: #353A3D;
    direction: rtl;
    text-align: right;
    margin-top: 10px;
}

.section-hot .card figcaption {
    padding: 0 24px;
}

.section-hot .card {
    font-size: 14px;
    direction: rtl;
    background-color: #F9F7F7;
}

.section-hot .card-1 .title {
    margin-top: 40px;
}

.section-hot .desc {
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 15px;
    color: #5B6469;
    line-height: 21px;
}

.section-hot .card-2 {
    grid-area: card-2;
}

.section-hot .card-3 {
    grid-area: card-3;
}

.section-hot .card-4 {
    grid-area: card-4;
}

.section-hot .card-5 {
    grid-area: card-5;
}

.section-hot .card-6 {
    grid-area: card-6;
}

.section-hot.card-7 {
    grid-area: card-7;
}

.section-hot .card-8 {
    grid-area: card-8;
    display: flex;
    flex-direction: row-reverse;
}
.section-hot .card-1 figcaption {
    width: 100%;
}
.section-hot .card-2 figcaption {
    width: 100%;
}
.section-hot .card-3 figcaption {
    width: 100%;
}

.section-hot .card-4 figcaption {
    width: 100%;
}
.section-hot .card-5 figcaption {
    width: 100%;
}
.section-hot .card-6 figcaption {
    width: 100%;
}
.section-hot .card-7 figcaption {
    width: 100%;
}
.section-hot .card-8 figcaption {
    width: 100%;
}
.section-hot .card-8 .title {
    margin-top: 40px;
}
.section-hot-news img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #000000;
    margin-top: 77px;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer .cr {
    font-size: 13px;
    font-weight: normal;
    color: white;
    margin-left: 700px;
}

.footer-logo .image {
    display: flex;
    flex-direction: row;
    margin-right: 700px;
}

.g-section.footer {
    padding: 30px 0;
}
