@font-face {
    font-family: "Montserrat-Bold";
<<<<<<< HEAD
    src: url("/..fonts/Montserrat-Bold.ttf") format("truetype") ;
=======
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype") ;
>>>>>>> 52d296b03fe6103dcaf5c2e401e1e5f114076f6d
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf")format("truetype") ;
    font-style: normal;
    font-weight: 400;
}
body { margin: 0;}

.image-wrapper img{
    height: auto;
    width: 100%;
}

.header {
    font-family: "Montserrat-Bold";
    letter-spacing: 2.7px;
    margin: 0 auto;
    margin-top: 26px;
    padding-bottom: 26px;
    width: 1170px;
}

.header .header-menu {
    display: inline-block;
    vertical-align: middle;
}

.header .header-menu {
    margin-left: 25%;
}
.header .menu .menu-list {
    margin: 0 -34px;
    padding: 0;
}

.header .menu .menu-item {
    display: inline-block;
    padding: 0 34px;
    vertical-align: middle;
}

.header .menu .menu-item a {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}

.main-content .content-text {
    color: #373737;
    font-family: "Montserrat-Regular";
    letter-spacing: 2.4px;
    line-height: 26px;
    margin-top: 48px;
    margin-left: 67px;
    margin-right: 67px;
    text-align: center;
}

.main-content .content-text .text {
    margin-top: 48px;
}

.content-text .title{
    color: #373737;
    font-family: "Montserrat-Bold";
    letter-spacing: 3.3px;
    margin-top: 34px;
    text-align: center;

}

.button-wrapper .button {
    background: #FF0000;
    border: 2px solid #e34761;
    display: block;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    margin: 0 auto;
    margin-top: 66px;
    padding: 25px 80px;
    text-decoration: none;

}

.footer {
    color: #373737;
    font-family: "Montserrat-Bold";
    letter-spacing: 2.4px;
    margin-top: 82px;
    text-align: right;

}

