body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}

html  { box-sizing: border-box;}
body { margin: 0; }
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.container {
    width: 1280px;
    margin: 0 auto;
}
.container .header-logo {
    padding: 40px 0;
}

.container .header-logo a {
    color: #000000;
    font-size: 80px;
    line-height: 94px;
    text-align: left;
    text-decoration: none;


}

.container .header-logo a .colored {
    color: deepskyblue;
}

.header-menu {
}

.header-menu .menu-list {
    display: flex;
    font-size: 24px;
    justify-content: center;
    line-height: 28px;
    padding-left: 0;
}

.header-menu .menu-list .menu-item {
    background: #35444F;
    border-right: 1px solid #FFFFFF;
    padding: 26px 38px 19px;
    white-space: nowrap;
}

.header-menu .menu-list .menu-item:hover {
    background: #222F3A;
}

.header-menu .menu-list .menu-item a {
    color: white;
    text-decoration: none;
}

.header-menu .menu-list .menu-item-side {
    background: #35444F;
    border-right: 1px solid #FFFFFF;
    padding: 0 38px;
    width: 50%;
}

.container-main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1280px;
}

.container-main .sidebar-container {
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000;
    margin-top: 48px;
    height: 395px;
    width: 344px;
}

.sidebar-container .sidebar-left {

}

.sidebar-container .sidebar-left .sidebar-left-item {
    font-size: 27px;
    padding: 26px 44px;
    line-height: 27px;
}

.sidebar-container .sidebar-left .sidebar-left-item:hover {
    background: #DBDBDB;
    text-align: center;
}

.sidebar-container .sidebar-left .sidebar-left-item a {
    color: rgba(72, 88, 99, 1);
    text-decoration: none;
}

.sidebar-container .sidebar-left .sidebar-left-item a:hover {
    color: black;
}

.container-main .right-content {
    width: 885px;
}

.container-main .right-content .images-wrap {
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    height: 529px;
    justify-content: center;
    margin-top: 48px;
    right: auto;
}

.container-main .right-content .images-wrap {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.container-main .right-content .images-wrap:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.container-main .right-content .images-wrap .image {
    width: 320px;
}

.container-main .right-content .text {
    margin: 37px 0 17px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.right-content .text .text-content {
    padding-bottom: 34px;
}

.footer {
    background: rgba(99, 105, 110, 0.48);
    left: 0px;
    margin: 0 auto;
    margin-bottom: 30px;
    top: 0px;
    width: 1280px;
    height: 69px;
}

.footer .navbar {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}

.footer .navbar .navbar-menu  {
}

.footer .navbar .navbar-menu .navbar-menu-item {

    display: inline-block;
    padding: 20px 0 20px 20px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 28px;
}

.footer .navbar .navbar-menu .navbar-menu-item a {
    color: #0C1927;
    text-decoration: none;
}

.footer .navbar .navbar-menu .navbar-menu-item a:hover {
    color: steelblue;
    text-decoration: underline;
}

.footer .navbar .navbar-menu .navbar-menu-last-item {
    display: inline-block;
    padding-left: 135px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}





















